@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
* {
    box-sizing: border-box;
}
html,
body {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-x: hidden;
    font-family: "Fira Sans";
    margin: 0;
    padding: 0;
}

body.lightbox {
    overflow-y: hidden;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
}
nav a {
    display: block;
    margin: 1rem;
    color: #000;
    padding: 0.1rem;
}
nav a:hover,
details summary span:hover {
    color: #000;
    background-color: #fbee42;
}
a#nav-home {
    font-size: 200%;
    font-weight: bold;
    display: flex;
    align-items: center;
    text-decoration: none;
}
a#nav-home img {
    display: inline-block;
    max-height: 4rem;
    margin-right: 0.75rem;
    border: 3px solid #000;
}

a[disabled] {
    pointer-events: none;
    color: #ddd;
}

h2 {
    margin-bottom: 0;
    margin-top: 1.5rem;
}

p:first-child {
    margin-top: 0;
}
p,
ol,
ol li,
ul li {
    font-family: "Times", "Times New Roman", serif;
    margin: 0;
    margin-top: 1rem;
}

li b,
li h4 {
    font-family: "Fira Sans";
}

ul {
    margin: 0;
}

details {
    margin-left: -1rem;
    margin-right: -1rem;
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 2rem;
    border: 0.2px solid #000;
}

details summary span {
    margin-left: 0.5rem;
    cursor: pointer;
    text-decoration: underline;
}

ol {
    margin-top: 0;
}

p.citation {
    text-indent: 2em hanging;
}

div.container {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.container > * {
    width: 50%;
}

div.container-sketches {
    display: flex;
    overflow-x: scroll;
    width: 95%;
}

div.container-sketches img {
    display: block;
    margin-left: 1rem;
    margin-right: 1rem;
    align-self: flex-end;
    height: 50vh;
}

div.persona {
    padding: 1rem;
    border: 0.5px solid #000;
    border-radius: 1rem;
}
div.persona-top,
div.persona-bottom {
    display: flex;
    flex-direction: row;
}
.persona-photo {
    display: block;
    width: 5rem;
    height: 5rem;
    border-radius: 2.5rem;
    border: 0.1px solid #000;
}
.persona-bio {
    flex: 1;
    padding: 0.5rem;
}
.persona-vital-info {
    padding: 0.5rem;
    height: fit-content;
}
.persona-vital-info th {
    text-align: right;
}
.persona-vital-info td {
    text-align: left;
    padding-left: 0.5rem;
}
.persona-bio {
    border: 0.5px solid #000;
    border-radius: 0.5rem;
    padding: 1rem;
}
.persona-bio::before {
    content: "Bio";
    font-weight: bold;
    color: black;
    display: block;
    margin-bottom: 0.5rem;
}
.persona-bottom {
    margin-top: 2rem;
    padding: 0;
}
.persona-bottom > ul {
    display: block;
    flex: 1;
    margin: 1rem;
    padding: 0.5rem;
    border: 0.1px solid;
    border-radius: 0.5rem;
    position: relative;
    list-style-position: inside;
}
.persona-bottom > ul::before {
    content: attr(title);
    position: absolute;
    bottom: calc(100% + 0.25rem);
    font-weight: bold;
    color: black;
    padding: 0.25rem;
    border-radius: 0.25rem;
}
.persona-goals {
    border-color: #e08fff !important;
}
.persona-goals::before {
    background-color: #e08fff !important;
}
.persona-wants {
    border-color: #00c2a8 !important;
}
.persona-wants::before {
    background-color: #00c2a8 !important;
}
.persona-pain {
    border-color: #fe7070 !important;
}
.persona-pain::before {
    background-color: #fe7070 !important;
}

.container iframe {
    min-height: 60vh;
    border: none;
    margin-top: 16px;
}

.exhibits {
    display: flex;
    flex-direction: row;
    max-width: 100%;
}
.exhibit {
    flex: 1;
    align-items: center;
}
.exhibit img {
    max-width: 100%;
}
#lightbox-teaser {
    margin-left: -20%;
    margin-right: -20%;
    margin-top: 16px;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #505132;
}

#lightbox-button {
    padding: 1rem;
    font-size: 150%;
    font-weight: bold;
    border: none;
    cursor: pointer;
    background-color: #fff;
    font-family: "Fira Sans", sans-serif;
    text-align: center;
}
#lightbox-button:hover {
    background-color: #ffeb00;
}

#lightbox {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgb(80 81 50 / 80%);
    padding: 1rem;
    margin: 0;
    transition: opacity 1.1s ease-in-out;
}

#lightbox iframe {
    background-color: rgb(80 81 50);
    width: 100%;
    height: 100%;
    border: none;
}

#lightbox.hidden {
    opacity: 0;
    pointer-events: none;
}

#lightbox-close {
    position: absolute;
    top: 1rem;
    left: 1rem;
    color: #000;
    background-color: #fff;
    border: none;
    font-size: 3rem;
    width: 4.5rem;
    height: 4.5rem;
    cursor: pointer;
    opacity: 0.8;
}

#lightbox-close:hover {
    background-color: #ffeb00;
}

@media screen and (max-width: 1500px) {
    div.container > * {
        width: 75%;
    }
}

@media screen and (max-width: 1000px) {
    nav {
        flex-direction: column;
    }
    nav a {
        margin: 0.5rem;
    }
    div.container > * {
        width: 85%;
    }
    #lightbox {
        padding: 0;
    }
}

@media screen and (max-width: 800px) {
    div.container > * {
        width: 100%;
    }
    .persona-top,
    .persona-bottom {
        flex-direction: column !important;
        align-items: center;
    }
    .persona-bottom {
        margin-top: 1rem;
    }
    .persona-bottom ul {
        margin-top: 2rem;
        width: 100%;
    }
}
